<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316453711847-i1qa1ej73jerc1fl9na84s958veikub6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316453711847-i1qa1ej73jerc1fl9na84s958veikub6</string>
	<key>API_KEY</key>
	<string>AIzaSyCiQwNYcJKhzKlFT-4L1LbaRq3Xf8hhLXA</string>
	<key>GCM_SENDER_ID</key>
	<string>316453711847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGoogleAnalyticsExample.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter--analytics-test</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter--analytics-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316453711847:ios:af6a8e6beb82764da6d742</string>
</dict>
</plist>